# Logs
logs
*.log
npm-debug.log*
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Optional npm cache directory
.npm/

# Environment variables
.env
.env.*
!.env.example

# Build output
dist/
build/

# IDE and OS files
.idea
.vscode
*.swp
*.~
Thumbs.db
.DS_Store

# Coverage data
coverage/

# Temporary files
tmp/